container_commands:
  01-download-phantomjs:
    cwd: /opt
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'wget https://bitbucket.org/ariya/phantomjs/downloads/phantomjs-2.1.1-linux-x86_64.tar.bz2'
  02-extract-phantomjs:
    cwd: /opt
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'tar jxvf phantomjs-2.1.1-linux-x86_64.tar.bz2'
  03-make-symlinks:
    cwd: /opt
    command: 'ln -s phantomjs-2.1.1-linux-x86_64/bin/phantomjs /usr/bin/phantomjs'
  04-clean-up:
    cwd: /opt
    command: 'rm phantomjs-2.1.1-linux-x86_64.tar.bz2'