packages:
  yum:
    gsl: []
    gsl-devel: []

container_commands:
  01-install-atlas:
    test: '[ "$TIER" == "worker" ]'
    command: 'rpm -i ftp://rpmfind.net/linux/centos/7.2.1511/os/x86_64/Packages/atlas-3.10.1-10.el7.x86_64.rpm --force'
  02-update-gsl:
    test: '[ "$TIER" == "worker" ]'
    command: 'rpm -i ftp://rpmfind.net/linux/centos/7.2.1511/os/x86_64/Packages/gsl-1.15-13.el7.x86_64.rpm --force'
  03-update-gsl-devel:
    test: '[ "$TIER" == "worker" ]'
    command: 'rpm -i ftp://rpmfind.net/linux/centos/7.2.1511/os/x86_64/Packages/gsl-devel-1.15-13.el7.x86_64.rpm --force'
